*, *:before, *:after {
  box-sizing: border-box;
}

.first{
	color: blue;
	background-color: lightgrey;
}

img{

width: 200px;
height: 200px;
}

.grid{

	display: grid;
	grid-template-columns: 50% 50%;
}

#theButton {
	background-color: lightblue;
	width: 100px;
	margin: 25px;
}

#secButton {
	background-color: lightgreen;
	width: 100px;
	margin: 25px;

}

.textBox{

	margin:25px;
	height: 250px;
	width: 450px;
	background-color: lightgrey;
	border: 1px, solid, grey;

}
