*, *:before, *:after {
  box-sizing: border-box;
}

.first{
	color: blue;
	background-color: lightgrey;
}

img{

width: 200px;
height: 200px;
}

#theButton {
	background-color: lightblue;
}

.textbox{

	height: 350px;
	width: 450px;
	align-self: center;
	background-color: grey;
	border: 1px, solid, lightgrey;
}